@import "tailwindcss";

:root {
  --bg-primary: #000000;
  --bg-secondary: #0a0a0a;
  --text-primary: #f5f5f5;
  --text-secondary: #a3a3a3;
  --border-color: #262626;
  --accent-color: #3b82f6;
  --input-bg: #171717;
}

[data-theme='light'] {
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --text-primary: #171717;
  --text-secondary: #525252;
  --border-color: #f1f5f9;
  --accent-color: #2563eb;
  --input-bg: #f8fafc;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}